<p id="notice"><%= notice %></p>

<div id="main">
	  <div>
		<h1> Shopping list</h1>
		<div id="input">
			<%= render partial:"items/form"%>
		</div>
		<div id="list">
			<ul>
			 <% @items.each do |item| %>
				<li class="item">

					<%= link_to item_path(item.id) , method: :delete, data: { confirm: 'Are you sure?' }  do %>
                        <%= content_tag :i, " ", class: 'fa fa-trash' %>
                    <% end %>
                    <% if item.checked? %>
                    <p class="checked"><%= link_to item.name, item %></p>
                      <%= content_tag :i, " ", class: 'fa fa-thumbs-up check' %>
                      <% else%>
                      <p ><%= link_to item.name, item %></p>
                       <%= content_tag :i, " ", class: 'fa fa-thumbs-down check' %>
                    <% end %>
				</li>
				 <% end %>
		</div>
	</div>

